*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  color: var(--text);
  font-family: "hankengrotesk", sans-serif;
  padding-right: 5vw;
  padding-left: 5vw;
  display: grid;
  grid-template-columns: auto 1fr;
}
@media screen and (max-width: 400px) {
  body {
    padding-right: 10px;
    padding-left: 10px;
  }
}
ul {
  list-style: none;
}
